@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  @media (max-width: 768px) {
    width: 0;
  }
}
body {
	background-color: var(--ui-primary);
}

button {
  cursor: pointer;
}
